{% extends "base.html.j2" %}

{% block content %}

  <h1>Dashboard</h1>
  <br>

  <div class="row row-cols-2">
    <div class="col">
      <h3>Recent 5 Expenses</h3>
      <br>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Expense</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in data %}
                <tr>
                  <td>{{ expense.expense_date.strftime("%d %b %Y") }}</td>
                  <td>{{ expense.expense_detail }}</td>
                  <td>Rp{{ "{:,.0f}".format(expense.amount) }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <h3>Top 5 Expenses Category this Month</h3>
      <br>
      <div class="card">
        <div class="card-body">
          <canvas id="categories"></canvas>
          <script type="text/javascript">
            var cht = document.getElementById('categories').getContext('2d');
            var myChart = new Chart(cht, {
                type: 'pie',
                data: {
                    labels: ['Food & Beverages', 'Utilities', 'Groceries', 'Unexpected Expenses', 'Play',],
                    datasets: [{
                        label: 'Category',
                        data: [3672800, 2093300, 924600, 550000, 396600],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(162, 54, 235, 0.2)',
                            'rgba(54, 235, 162, 0.2)',
                            'rgba(235, 162, 54, 0.2)',
                            'rgba(162, 235, 54, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(162, 54, 235, 1)',
                            'rgba(54, 235, 162, 1)',
                            'rgba(235, 162, 54, 1)',
                            'rgba(162, 235, 54, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                  legend: {
                    position: 'bottom'
                  }
                }
            });
          </script>
        </div>
      </div>
    </div>
    <div class="col">
      <br><br>
      <h3>Total Expenses for the Last 6 Months</h3>
      <br>
      <div class="card">
        <div class="card-body">
          <canvas id="history"></canvas>
          <script type="text/javascript">
            var ctx = document.getElementById('history').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ months }},
                    datasets: [{
                        label: 'Total Expenses',
                        data: {{ total }},
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                  legend: {
                    position: 'bottom'
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                      }
                    }]
                  }
                }
            });
          </script>
        </div>
      </div>
    </div>
    <div class="col">
      <br><br>
      <h3>Top 5 Expenses This Month</h3>
      <br>
      <div class="card">
        <div class="card-body">
          <canvas id="expenses"></canvas>
          <script type="text/javascript">
            var cht = document.getElementById('expenses').getContext('2d');
            var myChart = new Chart(cht, {
                type: 'bar',
                data: {
                    labels: {{ list_expense_detail }},
                    datasets: [{
                        label: 'Category',
                        data: {{ list_amount }},
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(162, 54, 235, 0.2)',
                            'rgba(54, 235, 162, 0.2)',
                            'rgba(235, 162, 54, 0.2)',
                            'rgba(162, 235, 54, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(162, 54, 235, 1)',
                            'rgba(54, 235, 162, 1)',
                            'rgba(235, 162, 54, 1)',
                            'rgba(162, 235, 54, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                  legend: {
                    position: 'bottom'
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true
                      }
                    }]
                  }
                }
            });
          </script>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
