{% extends "base.html.j2" %}

{% block content %}

  <h1>History</h1>

  <form action="history" method="get">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <select class="form-control" name="year">
            <option value="2020">2020</option>
            <option value="2019">2019</option>
          </select>
        </div>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>

  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Month</th>
        <th scope="col">Expense Realisation</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in total %}
        <tr>
          <td>{{ entry['date'].strftime("%b %Y") }}</td>
          <td>Rp{{ entry['total'] }}</td>
          <td><a href="/history_detail/{{ entry['date'].year }}/{{ entry['date'].month }}">
            More...</a>
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td><strong>Total for this year</strong></td>
        <td><strong>Rp100000000</strong></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
