{% extends "base.html.j2" %}

{% block content %}

  <h1>History of {{ search_year }}</h1>

  <form action="history" method="get">
    {% for error_year in get_flashed_messages() %}
      <div class="alert alert-danger" role="alert">
        {{ error_year }}
      </div>
    {% endfor %}

    <div class="row">
      <div class="col">
        <div class="form-group">
          <select class="form-control" name="year">
            {% for year in list_year %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>

  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Month</th>
        <th scope="col">Expense Realisation</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in total %}
        <tr>
          <td>{{ entry['date'].strftime("%b %Y") }}</td>
          <td>Rp{{ "{:,.0f}".format(entry['total']) }}</td>
          <td><a href="/history_detail/{{ entry['date'].year }}/{{ entry['date'].month }}">
            More...</a>
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td><strong>Total for this year</strong></td>
        <td><strong>Rp{{ "{:,.0f}".format(year_total) }}</strong></td>
        <td></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
