{% extends "base.html.j2" %}

{% block content %}

  <h1>Expenses for {{ tgl.strftime("%b %Y") }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Expense Detail</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for expense, categories in data %}
        <tr>
          <td>{{ expense.expense_date.strftime("%d %b %Y") }}</td>
          <td>{{ expense.expense_detail}}</td>
          <td>{{ expense.categories.name }}</td>
          <td>Rp{{ expense.amount }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
